@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* *{
  @apply scrollbar-none;
} */

nav{
  height:4rem;
  position: sticky;
  top: 0px;
}
aside{
  height: calc(100vh -4rem );
  position: sticky;
  top: calc(4rem);
  z-index: 33;
}

.inputcustom {
  @apply hover:border-gray-500 mt-2 mb-5 
  rounded-lg bg-transparent border border-black/30 p-2 w-full focus:outline-none focus:ring-1 focus:ring-black mx-2 ;
}
